.layersWrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.backgroundGradient {
  position: absolute;
  z-index: -3;
  top: 0;
  width: 300vw;
  height: 100svh;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 33.333333%,
    rgba(0, 0, 0, 1) 66.6666666666666%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 33.333333%,
    rgba(0, 0, 0, 1) 66.6666666666666%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 33.333333%,
    rgba(0, 0, 0, 1) 66.6666666666666%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
}

.brick {
  transform: rotate(0deg);  /*makes this stupid shit behave*/
  opacity: 0;
  transition: 0.1s;
  pointer-events: none;
  width: 150%;
  height: 150%;
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(
    50% 0%,
    50% 0%,
    50% 0%,
    50% 0%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    50% 100%,
    50% 100%,
    50% 100%,
    50% 100%,
    0% 50%,
    0% 50%,
    0% 50%,
    0% 50%
  );
}

.innerBrick {
  pointer-events: none;
  transition: 0.5s;
  width: 80%;
  height: 80%;
  clip-path: polygon(
    50% 0%,
    50% 0%,
    50% 0%,
    50% 0%,
    100% 50%,
    100% 50%,
    100% 50%,
    100% 50%,
    50% 100%,
    50% 100%,
    50% 100%,
    50% 100%,
    0% 50%,
    0% 50%,
    0% 50%,
    0% 50%
  );
}

.walled {
  transform: rotate(22.5deg);
  pointer-events: none;
  transition: 0.5s;
  width: 196%;
  height: 196%;
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(
    50% 1%,
    63% 20%,
    86% 15%,
    81% 38%,
    100% 50%,
    81% 63%,
    86% 86%,
    63% 81%,
    50% 100%,
    37% 81%,
    14% 86%,
    19% 63%,
    0% 50%,
    19% 38%,
    14% 15%,
    37% 20%
  );
}

.walled div {
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  clip-path: polygon(
    50% 1%,
    63% 20%,
    86% 15%,
    81% 38%,
    100% 50%,
    81% 63%,
    86% 86%,
    63% 81%,
    50% 100%,
    37% 81%,
    14% 86%,
    19% 63%,
    0% 50%,
    19% 38%,
    14% 15%,
    37% 20%
  );
}

.layer {
  position: absolute;
}

.spot {
  position: absolute;
  z-index: 100;
  width: 4vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}

.line1 {
  z-index: -2;
  pointer-events: none;
  position: absolute;
  width: 33.33333333%;
  left: 5%;
  top: calc(45% - 3px);
  height: 6px;
}
.line2 {
  z-index: -2;
  pointer-events: none;
  position: absolute;
  top: 5%;
  left: calc(50% - 3px);
  height: 33.333333333%;
  width: 6px;
}

.line3 {
  z-index: -2;
  pointer-events: none;
  position: absolute;
  width: 33.33333333%;
  right: 5%;
  top: calc(45% - 3px);
  height: 6px;
}
.line4 {
  z-index: -2;
  pointer-events: none;
  position: absolute;
  bottom: 15%;
  left: calc(50% - 3px);
  height: 33.333333333%;
  width: 6px;
}

.gameInfo {
  position: absolute;
  width: 98%;
  height: 11vh;
  padding: 0 1%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamInfo {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  transition: 0.3s;
}

.TeamText {
  user-select: none;
  margin: 0;
  font-size: 2vh;
  color: #000;
  line-height: 4vh;
  width: 33%;
}

.TeamState {
  user-select: none;
  font-size: 4vh;
  margin: 0;
  width: 66%;
  height: 100%;
}

.black {
  color: #fff;
}

.whi {
  text-align: start;
}

.bla {
  text-align: end;
}

.white {
  text-align: end;
}

.TeamText span {
  font-size: 6vh;
}

@media screen and (max-width: 900px) {
  .gameInfo {
    flex-direction: column;
  }
  .teamInfo {
    position: absolute;
    width: 80%;
    justify-content: space-evenly;
  }

  .TeamText {
    font-size: 2vh;
    line-height: 4vh;
  }

  .TeamText span {
    font-size: 6vh;
  }

  .TeamState {
    font-size: 4vh;
  }
}

@media screen and (max-width: 450px) {
  .spot {
    width: 32px;
    height: 32px;
  }

  .TeamText {
    font-size: 2vh;
    line-height: 3vh;
  }

  .TeamText span {
    font-size: 5vh;
  }

  .TeamState {
    font-size: 3vh;
  }
}

@keyframes line-border-in {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
}

@keyframes line-border-out {
  0% {
    background-color: #000;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes gradient-in {
  0% {
    left: -200vw;
  }
  100% {
    left: 0;
  }
}

@keyframes gradient-out {
  0% {
    left: 0;
  }
  100% {
    left: -200vw;
  }
}

@keyframes layer-border-in {
  0% {
    border-color: #fff;
  }
  100% {
    border-color: #000;
  }
}

@keyframes layer-border-out {
  0% {
    border-color: #000;
  }
  100% {
    border-color: #fff;
  }
}

@keyframes spot-color-in {
  0% {
    background-color: #404040;
  }
  100% {
    background-color: #bfbfbf;
  }
}

@keyframes spot-color-out {
  0% {
    background-color: #bfbfbf;
  }
  100% {
    background-color: #404040;
  }
}
